/* Colors */
$tax-background: rgb(37, 40, 48);
$tax-backgroun-secondary: rgb(111, 120, 144);

$tax-font-dark: rgb(67, 72, 87);
$tax-font-medium: rgb(145, 152, 170);
$tax-font-light: rgb(255, 255, 255);